.swiper-button-prev,
.swiper-button-next {
  background: #000;
  border-radius: 50%;
  width: 28px !important;
  height: 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: #fff !important;
}

.swiper-button-prev {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 2px;
}

.swiper-button-next {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;

}